ngx-dropzone {
  height: 420px;

  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #eaeaea;
  border-style: none;
}

.container {
  margin-top: 50px;
.card-body{
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

}

.my-button {
  margin-top: 30px;
  font-size: 80%;
  border-radius: 20px;


  transition: all 0.2s;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);
  width: 150px;

}
